@import "tailwindcss";

  .font-jersey {
    font-family: 'Jersey 10', sans-serif;
  }


/* .animated-bg {
  background: linear-gradient(90deg, #222831, #393E46);
  background-size: 300% 300%;
  animation: bg-animation 5s infinite alternate ease-in-out;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
} */

/* MAIN background */
.alien-bg {
  position: relative;
  overflow: hidden;

  background: linear-gradient(180deg, #222831, #393E46);
  background-size: 300% 300%;
  animation: alienGradient 3s ease-in-out infinite alternate;
}

/* Gradient animation */
@keyframes alienGradient {
  0% { background-position: left; }
  100% { background-position: right; }
}

/* Floating circles */
.alien-bg::before,
.alien-bg::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;

  background: radial-gradient(circle, #950101aa, transparent 70%);

  filter: blur(60px);
  opacity: 0.4;

  animation: float1 15s infinite ease-in-out;
}

/* Second circle */
.alien-bg::after {
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #EEEEEE55, transparent 70%);
  animation: float2 15s infinite ease-in-out;
}



/* Circle movements */
@keyframes float1 {
  0%   { transform: translate(-1200px, -1200px); }
  50%  { transform: translate(1400px, 1400px); }
  100% { transform: translate(-1150px, 1300px); }
}

@keyframes float2 {
  0%   { transform: translate(1300px, 1300px); }
  50%  { transform: translate(-1200px, -1200px); }
  100% { transform: translate(1200px, 1400px); }
}
